.swiper .swiper-scrollbar {
  bottom: -48px;
}

.swiper-scrollbar-drag {
  background: #E62424;
}

.about-review-slider .swiper-scrollbar {
  bottom: -96px;
}

.about-review-slider>* .swiper-scrollbar-drag {
  background: #FFFFFF;
}